spyder
vispy
pyopengl
natsort
tifffile
pyqtgraph
opencv
cython
matplotlib
scipy
scikit-image
scikit-learn
graph-tool
pytorch
mkl<2024.1  # Breaks pytorch (https://github.com/pytorch/pytorch/issues/123097)
lxml
